{% extends "base.html" %}
{% load static %}
{% block content%}


<section class="py-5 text-white text-center" style="background-color: #98681e;">
  <div class="container">
    <h1 class="display-5">Jollof and Chill</h1>
    <p class="lead">Fine Dining & Continental Cuisine</p>
  </div>
</section>

<div class="container py-5">

  <!-- Image & Info -->
  <div class="row g-4">
    <div class="col-md-6">
      <img src="{{ object.second_jollof_and_chill_img.url }}" class="img-fluid rounded" alt="Restaurant Image">
    </div>
    <div class="col-md-6">
      <h3>At a Glance</h3>
      <p>Crafted with Care. Serving authentic flavours with love and tradition for over 10 years..</p>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Food Type: </strong> {{ object.second_jollof_and_chill_title }}</li>
        <li class="list-group-item"><strong>Opening Hours: </strong> 8 AM – 11 PM (Daily)</li>
        <li class="list-group-item"><strong>description: </strong>{{ object.second_jollof_and_chill_description }}</li>
      </ul>

      <a href="#" class="btn btn-primary mt-4">Make an Order</a><br><br>
        <div class="btn-wrapper">
      <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 5px;font-family: Georgia;"> Back </a>
      </div>
    </div>
   
  </div>
</div>


{% endblock%}