{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="py-5 text-white text-center" style="background-color: #98681e;">
  <div class="container">
    <h1 class="display-5 fw-bold">Get in Touch</h1>
    <p class="lead">We’d love to hear from you — reach us any time.</p>
  </div>
</section>


<div class="container py-5">
  <div class="row text-center">
      <!-- WhatsApp -->
    <div class="col-md-4 mb-4">
      <div class="p-4 border rounded shadow-sm h-100">
        <i class="fab fa-whatsapp fa-2x text-success mb-3"></i>
        <h5 class="mb-2">WhatsApp</h5>
        <p><a href="https://wa.me/2348123456789" class="text-decoration-none text-dark">+234 812 345 6789</a></p>
      </div>
    </div>
       <!-- Email -->
    <div class="col-md-4 mb-4">
      <div class="p-4 border rounded shadow-sm h-100">
        <i class="fas fa-envelope fa-2x text-primary mb-3"></i>
        <h5 class="mb-2">Email Us</h5>
        <p><a href="mailto:Jollofandchill17@gmail.com" class="text-decoration-none text-dark">Jollofandchill17@gmail.com</a></p>
      </div>
    </div>
    <!-- Address -->
    <div class="col-md-4 mb-4">
      <div class="p-4 border rounded shadow-sm h-100">
        <i class="fas fa-map-marker-alt fa-2x text-primary mb-3"></i>
        <h5 class="mb-2">Our Location On Map</h5>
        <p><a href="https://g.co/kgs/VdyZptV"target="_blank">17 Showell Road Wolverhampton WV10 9LU</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container py-5">
  <div class="row g-5 align-items-center">
    
    <!-- Image Column -->
    <div class="col-md-6">
      <img src="{% static 'img/ff.jpg' %}"style="border-radius: 12px;" alt="Contact Us" class="img-fluid rounded shadow">
    </div>

    <!-- Contact Form Column -->
    <div class="col-md-6">
      <h3 class="mb-4">Send a Message</h3>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Your Name</label>
          <input type="text" class="form-control" name="message-name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Your Email</label>
          <input type="email" class="form-control" name="message-email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Your Message</label>
          <textarea class="form-control" id="message" name="message" rows="5" placeholder="Write your message..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary px-4">Send Message</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
