{% extends "base.html" %}
{% load static %}
{% block content%}
<section class="py-5 text-white text-center" style="background-color: #98681e;">
  <div class="container">
    <h1 class="display-5 fw-bold">Our Menu</h1>
    <p class="lead">Jollof and Chill</p>
  </div>
</section>

<!-- Row of Cards -->
<div class="container my-5">
  <div class="row justify-content-center g-4">

    <!-- Card 1 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0" style="color: white;"> STARTERS</h5>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <tbody>
              <tr><td>Meat Pie </td><td class="text-end">£4</td></tr>
              <tr><td>Fried Plantain</td><td class="text-end">£4</td></tr>
              <tr><td>Fried Yam</td><td class="text-end">£4</td></tr>
              <tr><td>Beef Shawarma </td><td class="text-end">£10</td></tr>
              <tr><td>Chicken Shawarma </td><td class="text-end">£10</td></tr>
              <tr><td>Shawarma With Single Sausage </td><td class="text-end">£12</td></tr>
              <tr><td>Shawarma With Double Sausage </td><td class="text-end">£14</td></tr>
              <tr><td>Puff Puff </td>    <td class="text-end">£4</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-dark text-white">
         <h5 class="mb-0" style="color: white;">SOUP</h5>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <tbody>
              <tr><td>Egusi</td><td class="text-end">£15</td></tr>
              <tr><td>Okro</td><td class="text-end">£15</td></tr>
              <tr><td>Ogbono</td><td class="text-end">£15</td></tr>
              <tr><td>Banga</td><td class="text-end">£15</td></tr>
              <tr><td>Bitter Leaf</td><td class="text-end">£15</td></tr>
              <tr><td>Afang</td><td class="text-end">£15</td></tr>
              <tr><td>Efo Riro</td><td class="text-end">£15</td></tr>
              <tr><td>Edikaikong</td><td class="text-end">£15</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

        <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0" style="color: white;">GRILLS</h5>
          
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <tbody>
              <tr><td>Grilled Chicken</td><td class="text-end">£6</td></tr>
              <tr><td>Cat Fish</td><td class="text-end">£25, £30, £35, £40</td></tr>
              <tr><td>Tilapia Fish</td><td class="text-end">£25, £30, £35, £40</td></tr>
              <tr><td>Goat Meat</td><td class="text-end">£12</td></tr>
              <tr><td>Beef Suya </td><td class="text-end">£12</td></tr>
              <tr><td>Sausage and Peppers </td><td class="text-end">£12</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

        <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0" style="color: white;">Main Dishes</h5>
          <small>Add-ons & light meals</small>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <tbody>
              <tr><td>Moi Moi</td><td class="text-end">£15</td></tr>
              <tr><td>Fried Plantain</td><td class="text-end">£4</td></tr>
              <tr><td>Pounded Yam</td><td class="text-end">£15</td></tr>
              <tr><td>Egusi Soup</td><td class="text-end">£7</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

        <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-dark text-white">
          <h5 class="mb-0" style="color: white;">Main Dishes</h5>
          <small>Add-ons & light meals</small>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <tbody>
              <tr><td>Moi Moi</td><td class="text-end">£15</td></tr>
              <tr><td>Fried Plantain</td><td class="text-end">£4</td></tr>
              <tr><td>Pounded Yam</td><td class="text-end">£15</td></tr>
              <tr><td>Egusi Soup</td><td class="text-end">£7</td></tr>
                            <tr><td>Fried </td><td class="text-end">£10</td></tr>
              <tr><td>White  &amp; Stew</td><td class="text-end">£15</td></tr>
              <tr><td>Coconut </td><td class="text-end">£15</td></tr>
              <tr><td>Jollof </td><td class="text-end">£10</td></tr>
              <tr><td>Fried </td><td class="text-end">£10</td></tr>
              <tr><td>White  &amp; Stew</td><td class="text-end">£15</td></tr>
              <tr><td>Coconut </td><td class="text-end">£15</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
